# ignore Gradle local props
/local.properties

# ignore Gradle project-specific cache directory
/.gradle/

# ignore Gradle build output directories
build/

# ignore AndroidStudio files
/.idea/
*.iml
/captures/
